<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Gibka.BibiB.lostsoul">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostSoul"
        tools:targetApi="31">
        <activity
            android:name=".Main0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel1"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel2"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel3"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel4"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel5"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameLevel6"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity
        android:name=".GameLevel7"
        android:exported="true">
        <intent-filter>

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".GameLevel8"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelSmert1"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelSmert2"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelSmert3"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevel9"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevel10"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelSmert11"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelSmert12"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
        android:name=".GameLevelGood1"
        android:exported="true">
        <intent-filter>

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
        <activity
            android:name=".GameLevelGood2"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevel12"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevel13"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevel14"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelWin"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
        android:name=".GameLevelWin1"
        android:exported="true">
        <intent-filter>

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
        <activity
        android:name=".GameLevelDie"
        android:exported="true">
        <intent-filter>

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
        <activity
            android:name=".GameLevelDie1"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameLevelDie2"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LevelConstructor"
            android:exported="true">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>